@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');



*{

margin: 0;
box-sizing: border-box;
padding: 0;

}



body{



    background: grey;
    font-family: 'Rubik', sans-serif;
    line-height: 1.9;
}

.container  {


   
    margin:0 auto;
   

}


#container1{
  
 background: url(../img/header.jpg) no-repeat center center / cover ;

}

#container-header {
  padding-top: 20px;
  height: 530px;

    color: white;
     
  }


  .header{
      
   margin: 0px auto;

    display: flex;
    flex-direction: column;
   
    align-items: center;

    max-width: 475px;
  }
.header h2{

  margin-top: 20px;
 
}

  .navbar {

  display: flex;
  justify-content: flex-end;
  background: black;
  
  }


  i{


    color: white;
  }

  .btn{

    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 10px;

  }





  .login {
background: none;
opacity: 0.9;
color: white;
border: none;
letter-spacing: 1px;



  }

  h5{

    color: rgb(111, 230, 56);
    text-transform: uppercase;
  }

h2, p{
  text-align: center;
}


  .disclaimer{
      margin: 20px 0;
        font-size: 8px;
        letter-spacing: 1px;
  }
img{


  width: 100%;
 
}

.logo{


  width: 70%;
}

  .btn:hover{

    cursor: pointer;
    opacity: 0.8;
  }

.grid{
padding: 10px 100px;
margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  justify-items: center;

}

.bundle p{

  color: #fff;
  display: flex;
  font-size: 21px;


 
  
}
.bundle{

margin-bottom: 60px;


}


.btn-bundle{
  
  height: fit-content;
  width: fit-content;
  background: none ;
  border: 1px solid white;
  color: #fff;
  padding: 25px 35px
  
}



  /*media query*/

  @media only screen and (max-width: 768px){
.HBO {

    display: none;
}

.header {
max-width:300px;

}
.btn{

  font-size: 8px;
  text-transform: uppercase;
  padding: 12px 20px;
  font-weight: 700;
  letter-spacing: 1.5px;

}
h2 {

  font-size: 12px;
}

.grid{
 padding: 0px;
  grid-template-columns: 1fr;
  
}

.bundle {

  align-content: center;
  justify-content: center;
  text-align: center;
}

.btn-bundle{

  padding: 10px;
}



  }
  