@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
}
:root {
  --text-light: #fcfcfc;
  --text-dark: black;
  --color-secondary: #256eff;
  --color-primary: #645dd7;
  --color-alternate: #bb342f;
  --color-alternate2: #46237a;
  --color-white: white;

  --max-width: 1300px;
}

body {
  height: fit-content;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav ul {
  list-style: none;
  font-weight: 700;
  animation: serv-logoU 800ms ease-in-out;
}

nav h2 {
  animation: serv-logoL 800ms ease-in-out;
}
nav ul li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
}
.showcase {
  width: 100%;
  max-width: 1300px;
  margin: 7vh auto;
  /* border: 1px solid green; */
  height: 90vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.info {
  /* border: 1px solid orangered; */
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  animation: serv-logoL 1.1s ease-in-out;
}
.info h1 {
  font-size: 3.5vw;
}
.info p {
  font-size: 1.4vw;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px 0;
  line-height: 1.8em;
}
.btn-new {
  width: 10rem;
  background: black;
  color: white;
  border-radius: 10px;
  padding: 14px 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 30px 0;
  text-transform: uppercase;
}
.info i {
  font-size: 2.75vw;
  color: grey;
}
.info ul {
  display: flex;
  list-style: none;
  width: 100%;

  justify-content: space-between;
}

.Image-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  animation: serv-logoR 1.1s ease-in-out;
}
.countdown-container {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

.Image-lg {
  display: none;
}
.Image-sm ul {
  display: flex;
  gap: 5px;
  list-style: none;
}

.Image-sm li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  list-style-type: none;
  padding: 0.8em;
  text-transform: uppercase;
  color: #645dd7;
}
.Image-sm h1 {
  text-transform: uppercase;
}
.middleline {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin: 40px auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  transition: 1100ms ease-in-out;
  border-radius: 15px;
  overflow-x: hidden;
}
.middleline h2 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px;
  font-weight: 700;
}
.middleline > div {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*testimonials*/
.testimonial-page {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 1300px;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  padding: 0px;
}
.testimonial-container {
  background-color: #645dd7;
  min-height: 450px;
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
  position: relative;
}
.testimonial-container h1 {
  margin: 20px auto;
  font-size: 29px;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);

  font-size: 28px;
  position: absolute;
  top: 70px;
}
.fa-quote-right {
  left: 40px;
}
.fa-quote-left {
  right: 40px;
}
.testimonial {
  line-height: 1.6em;
  text-align: justify;
  font-size: 24px;
  margin: 30px 0;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user .user-image {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  object-fit: cover;
}
.user .user-details {
  margin-left: 10px;
}
.user .username {
  margin: 0;
  font-size: 24px;
}
.user .role {
  font-weight: normal;
  margin: 10px 0;
  font-size: 20px;
}
.progress-bar {
  background-color: #fff;
  height: 2px;
  width: 100%;
  animation: grow 9.2s linear infinite;
  transform-origin: left;
}
/******/

.c-l {
  width: 100%;

  max-width: 1300px;
  margin: 150px auto;
  display: grid;
  grid-template-columns: 3fr 1.25fr;

  background-color: #3590f3;
  border-radius: 10px;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 1100ms ease-in-out;
}
.right {
  height: fit-content;
  display: flex;
  flex-direction: column;

  margin: 50px 10px;
  align-items: left;
  padding: 0 20px;
  border-right: 2px solid white;
}
.right i {
  font-size: 58px;
  color: #fca311;
  margin: 20px auto;
}
.c-l-info {
  display: flex;
  justify-content: space-between;

  color: black;
  margin: 45px 0;
}
.c-l-info h3 {
  font-style: italic;
  font-size: 17px;
}
.c-l-info p {
  font-size: 14px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.left img {
  display: none;
}

.poster {
  border: 2px solid orangered;
  height: 650px;
  width: 100%;
  padding: 0 5px;
  max-width: 420px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  color: white;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr 1fr;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.6em;
}

.poster i {
  /* height: 50px;
  width: 50px; */
  font-size: 58px;
  /* background-color: purple;
  border-radius: 50%; */
  padding: 20px;
  border-bottom: 2px solid white;
}
.btn-poster {
  width: 12rem;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
.btn-poster i {
  font-size: 18px;
  border-bottom: none;
}
.poster-info-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #645dd7;
  padding: 25px 5px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 40px;
  text-align: center;
  top: 0;
  left: 100%;
  transition: 700ms ease-in-out;
  border-radius: 5px;
}
.poster-info-card p,
.poster p {
  color: white;
  font-size: 16px;

  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.6em;
  padding: 0 20px;
}
.poster-info-card p {
  color: white;
}
.poster-info-card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.poster-info-card i {
  cursor: pointer;
  margin-bottom: 50px;
}

.green {
  background-color: #ff4242;
}
.teal {
  background-color: teal;
}
.gold {
  background-color: #fca311;
}
.blue {
  background-color: #3590f3;
}

.show {
  opacity: 0;
  transform: translateX(-100%);
}
.appear {
}

.bottomline,
.outro {
  font-family: "Akshar", sans-serif;

  height: 400px;
  width: 100%;
  max-width: 1300px;
  margin: 30px auto;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.8em;
  letter-spacing: 2px;
  gap: 10px;
  font-weight: 600;
  text-align: center;
  animation: serv-logoR 1100ms ease-in-out;
}
.bottomline h1,
.outro h1 {
  font-size: 38px;
}
.bottomline p,
.outro p {
  font-size: 20px;
  letter-spacing: 1.5px;
}
.outro ul {
  display: flex;

  width: 100%;
  font-size: 58px;
  list-style: none;
  justify-content: space-evenly;
  color: grey;
}

.footer {
}
.footer ul {
  list-style: none;
}
.footer p {
  cursor: pointer;
}

.upf {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.upf h2 {
  text-align: left;
  margin-bottom: 10px;
}
.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(54, 51, 51);
  font-weight: 400;
  line-height: 1.8em;
}

.cp-text {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

/*modal*/
#modal-content {
  display: none;
  width: 100%;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.722);
  top: 0px;

  height: 100%;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.form {
  width: 80%;
  max-width: 428px;
  margin: 0 auto;
  padding: 50px;
  background-color: #645dd7;
}

.form #modal-content label {
  display: block;
  margin-bottom: 5px;
}

#modal-content input {
  width: 95%;
}
.form input {
  font-family: "PT Sans Narrow";
  font-size: 20px;
  margin: 20px 0;
}

.info2 input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 20px 0;
  padding: 22px 10px;
  background: #fff;
}

.info2 input:last-child {
  margin: 0;
}

.info2 input:focus {
  outline: none;
}

.info2 input[type="submit"] {
  vertical-align: top;
  height: 2rem;
  width: 98px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: pink;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(45deg, #ff6c54, #ffa754);
}

.info2 input[type="submit"]:hover {
  background: linear-gradient(180deg, #ff6c54, #ffa754);
}

/*booking-form*/
.no-show {
  display: none;
}
.book-now {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 40px;
  height: 100%;
  background: rgba(128, 128, 128, 0.507);
}
.booking-form {
  animation: serv-logoR 800ms ease-in-out;
  max-width: 768px;
  padding: 10px;
}
.booking-form,
.booking-form form {
  background: #645dd7;
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: white;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transform: translate(0%, 0%);
}
.booking-form form {
  width: 80%;
}
.booking-form input,
.booking-form select,
.booking-form button {
  width: 12rem;
  height: 2.25rem;
  border: 1px solid rgba(128, 128, 128, 0.425);
  padding: 5px;
  border-radius: 5px;
}
.booking-credit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 15px;
  background: #fff;
  padding: 10px;
  color: #645dd7;
}
.booking-form button {
  font-size: 1.15rem;
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#Name,
#email,
#selection {
  width: 70% !important;
  margin: 5px 0;
}
/**/
textarea {
  width: 80%;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.bookForm {
}

@media only screen and (min-width: 969px) {
  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Image-lg {
    display: none;
  }
  .info,
  .Image-sm {
    height: 80vh;
    padding: 0 40px;
  }

  .middleline {
    grid-template-columns: 1fr 1fr;
  }
  .left img {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .middleline {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 968px) {
  .Image-sm {
    display: none;
  }
  .showcase {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    height: 110vh;
    margin-bottom: 20px;
  }
  .showcase i {
    font-size: 32px;
  }
  .info {
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
  }
  .info h1 {
    font-size: 40px;
  }
  .info p {
    font-size: 15px;
  }
  .Image-lg {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: serv-logoR 1100ms ease-in-out;
  }
  .Image-lg img {
    width: 200px;
  }
  .info p {
  }
  .c-l {
    grid-template-columns: 1fr;
    align-content: center;
    font-size: 15px;
  }
  .c-l img {
    width: 250px;
  }
  .right {
    border-right: none;
  }
  .countdown li {
    font-size: calc(1.125rem * var(--smaller));
  }

  .countdown li span {
    font-size: calc(3.375rem * var(--smaller));
  }
  .c-l-info {
    display: grid;
    gap: 10px;
  }

  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
  .upper-footer {
    display: none;
  }
  .lower-footer-copyright h1 {
    display: none;
  }
  .icons {
    width: 50%;
  }
  .icons i {
    font-size: 18px;
  }
  .cp-text {
    font-size: 10px;
  }

  .booking-credit {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  .booking-form,
  .booking-form form {
    padding: 5px;
  }
  .booking-credit input,
  .booking-credit select {
  }
}

@keyframes serv-logoU {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes serv-logoD {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes serv-logoR {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes serv-logoL {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media only screen and (min-width: 768px) {
  .booking-form {
    margin: 0 auto;
  }
}
