.book-now {
  display: none;
  transition: all 500ms;
}
.book-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.book-modal-form {
  height: 600px;
  width: 100%;
  max-width: 900px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr;
}
.modal-form-container {
  /* border: 1px solid red; */
  padding: 30px 10px 10px;
}
.modal-image-container {
  display: none;
}
.modal-form-content {
  /* border: 2px solid blue; */
}
.registration-header {
  color: var(--color-secondary);
}
.registration-input {
  display: flex;
  gap: 20px;

  padding: 10px;
  width: 100%;
}
.registration-input {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 14px;
  /* border: 1px solid crimson; */
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}
.input-unit {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.registration-input input,
.registration-input select,
.registration-input option {
  border: 2px solid rgba(0, 128, 128, 0.57);
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  min-width: 8rem;
  font-size: 14px;
}
.rgi-cta {
  justify-content: center;
  align-items: center;
}
.rgi-cta i {
  font-size: 12px;
  color: gray;
}
.chosen {
  color: var(--color-secondary) !important;
}
.btn-form {
  font-size: 14px;
  max-width: 8rem;
}
@media only screen and (min-width: 769px) {
  .book-modal-form {
    grid-template-columns: 2fr 3fr;
  }
  .modal-image-container {
    display: flex;
    background-color: var(--color-secondary);
    justify-content: center;
  }
  .modal-image-container img {
    width: 100%;
  }
}
